.main-footer {
    width: 100vw;
    height: 165px;
    flex-shrink: 0;
    background: var(--67594-c, #67594C);
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    margin-top: auto;
    margin-bottom: auto;
}
.footer-contents {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gomgom-logo {
    color: var(--faf-9-f-6, #FAF9F6);
    font-family: MuseoModerno;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-right: 525px;
}
.footer-text {
    color: var(--faf-9-f-6, #FAF9F6);
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}


