@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

.logo p {
    color: var(--67594-c, #67594C);
    font-size: 32px;
    font-family: MuseoModerno;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
}

#nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-mypage-container {
    display: flex;
    align-items: center;
}

.mypage-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(./mypage-icon.png) lightgray 50% / cover no-repeat;
    text-indent: -9999px;
    position: absolute;
    right: 30px;
    margin-right: 342px;
}

.main_visual_top {
    position: relative;
    width: 100%;
    height: 448px;
    background: #67594C;
}

.first-paragraph {
    padding-top: 78px;
    margin-right: 1107px;
    margin-left: 427px;
    color: #FAF9F6;
    font-size: 20px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

.second-paragraph {
    color: #FAF9F6;
    font-size: 36px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.third-paragraph {
    color: #FAF9F6;
    font-size: 36px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.fourth-paragraph {
    width: 176px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 32px;
    background: var(--ffab-5-d, #FFAB5D);
    border: none;
    color: var(--ffffff, #FFF);
    font-size: 20px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.fourth-box {
    margin-right: 404px;
}

.main_visual_bottom {
    height: 385px;
    flex-shrink: 0;
    background: var(--d-2-cdbc, #D2CDBC);
}

.paragraph-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 427px;
    margin-top: 27px;
}


footer {
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--67594-c, rgba(103, 89, 76, 0.50));
}

.footer {
    margin-top: auto;
    margin-bottom: auto;
}

#footer_content {
    color: #67594C;
    font-size: 12px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-align: center;
}

/* 추가된 스타일 */
#nav .navbar {
    justify-content: center;
}

#nav .navbar li {
    margin-right: 138px;
}

#nav .navbar li:last-child {
    margin-right: 0;
}

.navbar-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 700px;
}

.navbar-div a {
    text-decoration: none;
    border-bottom: none;
    font-size: 16px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    color: var(--67594-c, #67594C);
}

.navbar-div-box {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: end;
    margin-bottom: 16px;
}

.line {
    height: 4px;
    background: var(--e-9-e-5-da, #E9E5DA);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--faf-9-f-6, #FAF9F6);
}

.worry-box {
    padding-top: 64px;
}

.worry-box-title {
    color: var(--67594-c, rgba(103, 89, 76, 0.50));
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.worry-box-text-box {
    margin-top: 11px;
    width: 770px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
}

.worry-box-text {
    padding-top: 25px;
    margin-left: 24px;
    color: var(--67594-c, #67594C);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.contents-box {
    margin-top: 55px;
}

.contents-title {
    color: var(--67594-c, rgba(103, 89, 76, 0.50));
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.dubu-box {
    margin-top: 23px;
    display: flex;
    align-items: row;
}

.dubu-img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 5px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.dubu-img img {
    width: 80px;
    height: 80px;
}

.dubu-text-box {
    width: 680px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid var(--e-9-e-5-da, #E9E5DA);
    background: #FFF;
    margin-left: 10px;
}

.dubu-text {
    color: var(--67594-c, #67594C);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    padding-top: 24px;
    margin-left: 30px;
}

.paper-box {
    margin-top: 16px;
    display: flex;
    align-items: row;
}

.paper-img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 6px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.paper-img img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}

.paper-text-box {
    width: 680px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid var(--e-9-e-5-da, #E9E5DA);
    background: #FFF;
    margin-left: 10px;
}

.paper-text {
    color: var(--67594-c, #67594C);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    padding-top: 24px;
    margin-left: 30px;
}

.ventor-box {
    margin-top: 16px;
    display: flex;
    align-items: row;
}

.ventor-img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 6px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.ventor-img img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}

.ventor-text-box {
    width: 680px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid var(--e-9-e-5-da, #E9E5DA);
    background: #FFF;
    margin-left: 10px;
}

.ventor-text {
    color: var(--67594-c, #67594C);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    padding-top: 24px;
    margin-left: 30px;
}

.casa-box {
    margin-top: 16px;
    display: flex;
    align-items: row;
}

.casa-img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 6px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.casa-img img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}

.casa-text-box {
    width: 680px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid var(--e-9-e-5-da, #E9E5DA);
    background: #FFF;
    margin-left: 10px;
}

.casa-text {
    color: var(--67594-c, #67594C);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    padding-top: 24px;
    margin-left: 30px;
}

.plus-button-box {
    margin-top: 24px;
}

.plus-button {
    width: 176px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 22px;
    border: 2px solid var(--d-2-cdbc, #D2CDBC);
    background: var(--e-9-e-5-da, #E9E5DA);
}

.plus-button img {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    pading-top: 15px;
    margin-left: 81.5;
}

.explan {
    margin-top: 64px;
}

.explan-title {
    color: var(--67594-c, rgba(103, 89, 76, 0.50));
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.explan-text-box {
    color: var(--67594-c, rgba(103, 89, 76, 0.50));
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-top: 16px;
    width: 770px;
    height: 116px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
}

.explan-text {
    color: var(--67594-c, #67594C);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    padding-top: 20px;
    width: 701Px;
    height: 52px;
    margin-left: 28px;
}

.category {
    margin-top: 64px;
}

.category-title {
    color: var(--67594-c, rgba(103, 89, 76, 0.50));
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.category-chice {
    margin-top: 16px;
    width: 203px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid var(--e-9-e-5-da, #E9E5DA);
    background: #FFF;
    display: flex;
    align-items: center;
}

.catogory-choice-box {
    margin-top: 16px;
    display: flex;
    align-items: row;
    margin-bottom: 91px;
}

.upload-button-box {
    margin-left: 391px;
}

.category-choice-contents {
    width: 202px;
    height: 348px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.25);
}

.upload-button {
    width: 176px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 32px;
    background: var(--ffab-5-d, #FFAB5D);
    border: none;
}

.upload-button-text {
    display: flex;
    width: 92px;
    height: 22.857px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--ffffff, #FFF);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-top: 10px;
    margin-left: 35px;
}

.category-chice-text {
    color: var(--d-2-cdbc, #D2CDBC);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin-left: 28px;
}

.category-choice-contents-box {
    padding-top: 21px;
    margin-left: 24px;
}

.choice-1-box-text {
    margin-left: 20px;
    color: var(--67594-c, #67594C);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.category-chice-img {
    margin-left: 106px;
}

.choice-1-box-img {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: var(--d-2-cdbc, #D2CDBC);
}

.choice-1-box {
    display: flex;
    align-items: center;
    padding-top: 12px;
}

.choice-1-box-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ellipse-16-container {
    position: relative;
  }
  
  .ellipse-23-img {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  