.detail-sec1 {
    width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detail-container p {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    color: var(--color1);
    font-size: 20px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}
.detail-container__detail-user {
    width: 120px;
    height: 90px;
    flex-shrink: 0;
    background-blend-mode: darken;
}
